.rectangulo{
    background-color: cornflowerblue;
    height: 100px;
    width: 400px;
}
.rectangulo1{
    background-color: cornflowerblue;
    height: 100px;
    width: 100px;
}
.cuadro{
    background-color: cornflowerblue;
    height: 100px;
    width: 100px;
}